{
  "token": "token", 
  "presence": "your DMs", 
  "presencetype": "WATCHING", 
  "guild": "0123456789", 
  "category": "0123456789", 
  "autoResponderEnabled": true, 
  "autoResponse": "Thank you for contacting support. Please be patient and staff will be with you shortly." 
}
